*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pink {
  background-color: pink;
}
.green {
  background-color: green;
}
.sideBar{
  width: 25%;
}
.feedSection{
  width: 70%;
}
.sideBar{
  min-height: 50vh;
}
.sidebarLinks{
  min-height: 25vh;
  border: 1px solid #000;
}