*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

#root {
  overflow-x: hidden;
}

h2.chakra-heading {
  font-size: 5rem;
  font-weight: 400;
  font-family: "Satisfy", cursive;
  text-shadow: 3px 3px 3px #1d9bf0, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 1px 1px 0 #000;
}

h2.chakra-heading span {
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Libre Franklin", sans-serif;
  text-shadow: none;
}
h2.chakra-heading span svg {
  margin: 0 0.75rem;
}
.logoFont {
  font-family: "Satisfy", cursive;
}
.pink {
  background-color: pink;
}
.green {
  background-color: green;
}
.blue {
  background-color: dodgerblue;
}
.gold {
  color: #a3a20b;
}
.header {
  background-color: #2c2f4b;
}

.header input {
  background-color: #565877;
  color: #fff;
}

/* Style header input placeholder */
.header input::placeholder {
  color: #fff;
}

.header svg {
  color: #fff;
}

.header button {
  background-color: #565877;
  color: #fff;
}
.logo {
  color: gold;
  font-size: 1.6rem;
  font-weight: bolder;
}
.mainPage {
  width: 100vw;
  background-color: #040523;
  min-height: 100vh;
}

.title-container {
  background-image: url("/public/images/plates-img.jpeg");
  /* background-image: url("https://images.pexels.com/photos/54455/cook-food-kitchen-eat-54455.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"); */
  background-position: bottom left;
  background-repeat: no-repeat;
  height: 380px;
  position: relative;
}
.title-container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: inherit;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.homePageContainer{
margin-top: 1.2rem;
}
.feedSection {
  width: 70%;
  min-height: 60vh;
  /* background-color: #234a7a; */
  /* border: 3px solid #e84646; */
  /* border: 3px solid orange; */
  margin-left: 2rem;
  margin-top: 1rem;
  padding-left: 0;
}

.feedSection.profile-page {
  width: 60%;
}

.feedSection .container.comments {
  padding: 0 1rem 1rem 0;
  margin: 0 auto;
  /* background-color: #2c2f4b; */
}

.feedSection .card-body {
  padding-left: 0;
  min-height: 30vh;
  display: flex;
  /* background-color: pink; */
}

.sideBar {
  width: 25%;
  padding: 0;
  flex-direction: column;
  border-right: 5px dotted white;
}
.sidebarLinks {
  padding: 0;
  flex-direction: column;
  align-items: center;
}

#tweatButton {
  background-color: orange;
  color: #040523;
}

.sidebarLinks button {
  background-color: transparent;
  color: #fff;
  font-size: 1.25rem;
  text-align: left;
  margin: 1rem 1.5rem;
  padding: 2rem 1.5rem;
  /* width: 100%; */
  width: auto;
  display: flex;
  justify-content: flex-start;
  /* border-radius: 0; */
  border-radius: 50px;
}

.sidebarLinks button:hover {
  background-color: #2c2f4b;
  color: gold;
}
.sidebarLinks button svg {
  margin-right: 1rem;
  font-size: 2rem;
}
.sidebarLinks hr {
  height: 3px;
  border-bottom: #962c2c;
  /* color: #e84646; */
  color: transparent;
}
.sidebarLinks .btn-info:hover {
  animation: glowinfo 0.25s linear 1;
}
@keyframes glowinfo {
  0% {
    background: rgb(0, 212, 255);
    background: linear-gradient(
      90deg,
      rgba(0, 212, 255, 1) 0%,
      rgba(2, 0, 36, 1) 50%,
      rgba(4, 5, 35, 1) 100%
    );
  }
  50% {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(0, 212, 255, 1) 50%,
      rgba(4, 5, 35, 1) 100%
    );
  }
  100% {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(4, 5, 35, 1) 50%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}
.card-text{
  margin-top: .5rem;
}
.feedOptions{
  margin-top: .6rem;
}
.option{
  padding: 0 2rem;
}
.serchForm {
  min-width: 50%;
}
.searchBtn {
  color: grey;
  margin-left: 5px;
}
.userAvator {
  overflow: visible !important;
}

.mapContainer {
  width: 100%;
}

.chakra-modal__body .success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.chakra-modal__body .success {
  color: green;
  font-size: 5rem;
  font-weight: bolder;
}

.infoBox {
  background-color: #fff;
  color: #16213e;
  padding: 7px;
  border-radius: 5px;
  width: 120px !important;
  height: 70px;
  font-size: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBox h3 {
  z-index: 1;
}

.infoBox button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  color: rgb(66, 66, 66);
  border: none;
  font-size: 0.5rem;
  font-weight: bolder;
  padding: 1px;
  cursor: pointer;
  z-index: -1;
}

.infoBox > img {
  display: none;
}
.results-list {
  background-color: #eee;
  height: 380px;
  overflow: scroll;
}
.result-item {
  background-color: #16213ee1;
  color: #eee;
  border: 1px solid #000;
}
.profile {
  color: #eee;
  /* border: 2px solid #ccc; */
}
.profileNameContainer {
  width: 80%;
  height: 45px;
}

.hero {
  position: relative;
  z-index: 0;
  height: 380px;
}
.hero #map {
  position: absolute !important;
  z-index: 0;
}

.hero .chakra-container {
  position: relative;
  z-index: 1;
}

.comments .card {
  /* background-color: #2c2f4b; */
  background-color: transparent;
  color: #fff;
  margin-bottom: 10px;
  /* border-bottom: 3px solid white;
    padding-bottom: 10px; */
}

.hero > chakra-container > .chakra-stack {
  padding-bottom: 0;
}

.card-title + .d-flex {
  background-color: #fff;
}

.card-body .right-profile {
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
.card-body .right-profile a {
  margin-left: 1rem;
  color: purple;
}
.tweetProfileAlign{
  display: flex;
  align-items: center;
}
#tweatCaption {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem 2rem;
}

#tweatCaption > .chakra-wrap {
  margin-bottom: 1rem;
}
.tweat-image {
  width: 40%;
  flex-direction: column;
  justify-content: center;
}
#tweatImage {
  width: auto;
  height: 30vh;
  object-fit: cover;
  flex-grow: 1;
  border-radius: 0.2rem;
}

.card-title {
  margin-bottom: 0;
}

.folder-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding: 3px 15px;
  background: #2c2f4b;
  border-radius: 5px 5px 0 0;
}

.liked {
  color: #e84646;
}
.likeStyle {
  font-size: 1.5em;
}
.like-span{
  margin-left: .5rem;
}
.tweatTime {
  font-size: 0.7em;
}

/* responsive */
@media screen and (max-width: 767px) {
  .header {
    padding: 0px;
  }
  .logo {
    font-size: 1.3rem;
  }
  .header input {
    width: 85%;
    font-size: 0.7rem;
  }
  .header svg {
    font-size: 0.7rem;
  }
  .header button {
    width: 20%;
    font-size: 0.7rem;
    margin-left: 2px;
  }
  .loginBrnContainer {
    width: 13%;
  }
  .title-container {
    background-position: 35% 85%;
    height: 200px;
  }
  .heroContainer {
    height: 200px;
  }
  .heroContainer .stackContainer {
    height: 100%;
  }
  .titleCss {
    position: absolute;
    top: 25%;
    left: 17%;
  }
  h2.chakra-heading {
    font-size: 3.4rem;
    font-weight: 300;
  }
  .sidebarLinks button {
    font-size: 1rem;
    padding: 1.5rem 1rem;
    /* background-color: red; */
  }
  .sidebarLinks button svg {
    font-size: 1.5rem;
  }
  .card-body .right-profile {
    margin-left: 1rem;
  }
  #tweatCaption {
    width: 70%;
    padding: 1rem 1rem;
  }
  .likeStyle {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 652px) {
  .title-container {
    background-position: 25% 72%;
    height: 150px;
  }
  .heroContainer {
    height: 150px;
  }
  .heroContainer .stackContainer {
    height: 100%;
  }
  .titleCss {
    position: absolute;
    top: 10%;
    left: 17%;
  }
  h2.chakra-heading {
    font-size: 2.2rem;
  }
  h2.chakra-heading span {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 425px) {
  .logo {
    width: 100%;
    display: block;
    margin-bottom: 4px;
  }
  .loginBrnContainer {
    width: 16%;
  }
  .mobileResponsive {
    flex-direction: column;
  }
  .homePageContainer{
    margin-top: 0;
    }
  .sideBar {
    width: 100%;
    flex-direction: row;
    border-right: none;
    border-bottom: 3px dotted white;
    /* padding: .5rem; */
  }
  .sidebarLinks {
    flex-direction: row;
    
  }
  .sidebarLinks button {
    display: flex;
    justify-content:center;
    margin: 1rem;
    font-size: .8rem;
    padding: .7rem 2.3rem;
  }

  .sidebarLinks button svg {
    font-size: 1rem;
  }
  .feedSection{
    width: 100%;
  }
  .card-body{
    padding: 0;
    min-height: 40vh;
    
  }
  #tweatCaption {
    width: 55%;
    align-items: center;
    justify-content: space-between;
    padding: .2rem .3rem;
  }
  .card-body .right-profile {
    margin-top: .5rem;
    align-items: center;
  }
  .card-body .right-profile a {
    margin-left: .3rem;
  }
  .tweetProfileAlign{
    justify-content:flex-start;
  }
  .tweat-image {
    width: 40%;
  }
  .card-text{
    margin-top: .2rem;
  }
  .feedOptions{
    margin-top: .3rem;
  }
  .option{
    padding: 0 .9rem;
  }
  .likeStyle {
    font-size: 1.1em;
  }
  .like-span{
    margin-left: .3rem;
  }
  .option-icon{
    font-size: 1em;
  }
}
@media screen and (max-width: 375px) {
  .loginBrnContainer {
    margin-top: 4px;
  }
    .sidebarLinks{
      justify-content:space-evenly;
    }
  .sidebarLinks button {
    margin: .3rem;
    font-size: .75rem;
    padding: .5rem 2.2rem;
  }

  .sidebarLinks button svg {
    font-size: .8rem;
  }
  
}

